.read{
    background-color: gainsboro;
}

.tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: #23282c;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -30px;
    margin-bottom: 5px;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
    visibility: visible;
}

  /* Show the tooltip text when you mouse over the tooltip container */
.fa:hover .tooltiptext {
    visibility: visible;
    width: 250px;
    margin-left: -130px;
}

div.dataTables_wrapper div.dataTables_processing{
    z-index: 100;
}

/* .sidebar .nav-link.active .nav-icon {
    color: #400191;
} */

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    word-wrap: break-word;
}

.image-validation{
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #f86c6b;
}

.h6{
    font-size: 3.1875rem;
}

.astrix{
    color: red;
}

.logo-image{
    -webkit-filter: opacity(.5) drop-shadow(0 0 0 white);
    filter: opacity(.5) drop-shadow(0 0 0 white);
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]{
    margin-top: -6px !important;
}


/* .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    height: 100%;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
    height: 90%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    min-height: 1.2em;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    height: 35px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border: 1px solid #367fa9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
} */

.product-images{
    display: block; 
    background-color: #eaeaea; 
    margin-left: 15px; 
    border: 2px solid #eaeaea; 
    /* border-radius: 15px; */
}

.panel {
    /* box-shadow: 0 2px 0 rgba(0,0,0,0.075); */
    border-radius: 0;
    border: 0;
    margin-bottom: 24px;
    overflow: visible;
}
.panel .panel-heading, .panel>:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.panel-heading {
    position: relative;
    height: 50px;
    padding: 0;
    border-bottom:1px solid #eee;
}
.panel-control {
    height: 100%;
    position: relative;
    float: right;
    padding: 0 15px;
}
.panel-title {
    font-weight: normal;
    padding: 0 20px 0 20px;
    font-size: 1.416em;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-control>.btn:last-child, .panel-control>.btn-group:last-child>.btn:first-child {
    border-bottom-right-radius: 0;
}

.panel-footer{
    padding-top: 10px;
    border-top: 1px solid grey;
}
.panel-control .btn, .panel-control .dropdown-toggle.btn {
    border: 0;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.nano>.nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.pad-all {
    padding: 15px;
}
.mar-btm {
    margin-bottom: 15px;
}
.media-block .media-left {
    display: block;
    float: left;
}
.img-sm {
    width: 46px;
    height: 46px;
}
.media-block .media-body {
    display: block;
    overflow: hidden;
    width: auto;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech {
    position: relative;
    background: #b7dcfe;
    color: #317787;
    display: inline-block;
    border-radius: 0;
    padding: 12px 20px;
}
.speech:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #b7dcfe;
    margin: 15px 0 0 -6px;
}
.speech-right>.speech:before {
    left: auto;
    right: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #2f353a;
    border-right: 0;
    margin: 15px -6px 0 0;
}
.speech .media-heading {
    font-size: 1.2em;
    color: #317787;
    display: block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}
.speech-time {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 300;
}
.media-block .media-right {
    float: right;
}
.speech-right {
    text-align: right;
}
.pad-hor {
    padding-left: 15px;
    padding-right: 15px;
}
.speech-right>.speech {
    background: #2f353a;
    color: white;
    text-align: right;
}
.speech-right>.speech .media-heading {
    color: white;
}
.btn-primary-chat, .btn-primary-chat:focus, .btn-hover-primary-chat:hover, .btn-hover-primary-chat:active, .btn-hover-primary-chat.active, .btn.btn-active-primary-chat:active, .btn.btn-active-primary-chat.active, .dropdown.open>.btn.btn-active-primary-chat, .btn-group.open .dropdown-toggle.btn.btn-active-primary-chat {
    background-color: #579ddb;
    border-color: #5fa2dd;
    color: #fff !important;
}
.btn-chat {
    cursor: pointer;
    /* background-color: transparent; */
    color: inherit;
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid 0;
    font-size: 11px;
    line-height: 1.42857;
    vertical-align: middle;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.form-control-chat {
    font-size: 11px;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #e9e9e9;
    transition-duration: .5s;
}
.nano>.nano-pane {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    width: 5px;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all .7s;
    transition: all .7s;
}